<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="timestamp" datePattern="yyyyMMdd"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}\logs\ctReqService_${timestamp}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.home}\logs\ctReqService_${timestamp}.%i.log.gz</fileNamePattern>
            <!--minIndex>1</minIndex-->
            <!--maxIndex>1</maxIndex-->
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level  %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <!--appender-ref ref="STDOUT" /-->
        <appender-ref ref="FILE" />
    </root>
</configuration>